Options -Indexes
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>
# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  #kai kuriuose netikusiuose hostinguose reikia
  #RewriteBase /dievai
  RewriteRule ^(css|img|js) - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ main.php?id=$1 [L,QSA]
</IfModule>
<IfModule mod_headers.c>
	<FilesMatch "\.(xml|png|jpg|gif|css|js|txt|mp3)$">
		Header set Cache-Control "max-age=172800, proxy-revalidate"
	</FilesMatch>
</IfModule>
<FilesMatch "grab.php|preview.php|preview.html|index.php|jqueryFileTree.php|info.php|uploadify.php|delete.php|check.php|editor_plugin.js">
Allow from all
</FilesMatch>
