.idea
.project
config.php
content/cache/*
content/cache/!.htaccess
images/galerija/*
images/nuorodu/*
images/nuorodu/!index.html

content/uploads/*
content/uploads/avatars/!no_avatar.png
content/uploads/!.htaccess

//for dev
.history
.vscode
install-
node_modules
# .htaccess
