.idea
.project
/config.php
content/cache/*
content/cache/!.htaccess

content/uploads/*
content/uploads/avatars/!no_avatar.png
content/uploads/!.htaccess
content/uploads/!gallery
content/uploads/gallery/!.htaccess
content/uploads/gallery/!thumbs
content/uploads/gallery/thumbs/!index.html
content/uploads/gallery/!originals
content/uploads/gallery/originals/!.htaccess


//for dev
.history
.vscode
install-
node_modules
# .htaccess
