<Files ~ (\.pl)>
Options ExecCGI FollowSymLinks
</Files>

Options +FollowSymLinks +SymLinksIfOwnerMatch

Options -Indexes
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>
# Various rewrite rules.
<IfModule mod_rewrite.c>
	RewriteEngine on
	#kai kuriuose netikusiuose hostinguose reikia
	#RewriteBase /

	#Blokuojam blogus robotus
	RewriteCond %{HTTP_REFERER} q=Guestbook [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^CherryPicker [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Crescent [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Custo [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^DISCo [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^eCatch [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^EmailCollector [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^FlashGet [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^GetRight [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^GornKer [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^GrabNet [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Grafula [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^HMView [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^InterGET [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Irvine [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^JetCar [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^larbin [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Microsoft.URL [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Mozilla.*NEWT [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Navroad [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^NearSite [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^NetAnts [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^NetSpider [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^NetZIP [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^NICErsPRO [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Octopus [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^omniexplorer_bot [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^pavuk [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} dloader(NaverRobot) [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^puf [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^RealDownload [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^ReGet [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^SearchExpress [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^SuperBot [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Surfbot [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Siphon [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebAuto [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebBandit [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebCopier [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebFetch [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebReaper [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebSauger [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebStripper [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WebZIP [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^Wget [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Widow [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^Zeus [NC,OR]
	RewriteCond %{HTTP_USER_AGENT} ^ZyBorg [NC]
	#RewriteRule ^.* - [F,L]
	RewriteRule . gpl-2.0.txt [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?id=$1 [L,QSA]
</IfModule>
<IfModule mod_headers.c>
	<FilesMatch "\.(xml|png|jpg|gif|css|js|txt|mp3)$">
		Header set Cache-Control "max-age=172800, proxy-revalidate"
	</FilesMatch>
</IfModule>

ErrorDocument 400 /klaida.php
ErrorDocument 401 /klaida.php
ErrorDocument 403 /klaida.php
ErrorDocument 404 /klaida.php
ErrorDocument 500 /klaida.php

Order Allow,Deny
Deny from env=draudziam
Allow from all 

