ServerSignature Off
Options All -Indexes
AddDefaultCharset UTF-8

Options +FollowSymLinks
IndexIgnore */*

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*)$ index.php?id=$1 [NC,L]

# už bandymą įsilaužti - score=5&amp;page=puslapiai/view_user&amp;user=127.0.0.1&amp;id=2&amp;update=true 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - score=3&amp;page=puslapiai/nuorodos&amp;user=127.0.0.1&amp;id=1&amp;update=true 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - score=1&amp;page=puslapiai/nuorodos&amp;user=127.0.0.1&amp;id=2&amp;update=true 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - score=1&amp;page=puslapiai/nuorodos&amp;user=127.0.0.1&amp;id=3&amp;update=true 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - score=3&amp;page=puslapiai/nuorodos&amp;user=127.0.0.1&amp;id=1&amp;update=true 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - score=5&amp;page=puslapiai/nuorodos&amp;user=127.0.0.1&amp;id=2&amp;update=true 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=Nario_profilis/images/icons/control_delete_small.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/images/icons/delete.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/images/icons/delete.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/images/icons/delete.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/images/icons/delete.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/images/icons/delete.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=dievai/javascript/jquery/jquery.asmselect.js 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=MM2/v1/dievai/images/icons/control_delete_small.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=MM2/v1/dievai/images/icons/control_delete_small.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=Naujienos;k,SELECT 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=Naujienos;k,SELECT 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=Naujienos;k,SELECT 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=Naujienos;k,SELECT 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=Naujienos;k,SELECT 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
# už bandymą įsilaužti - id=javasscript/htmlarea/markitup/sets/default/images/icons/control_delete_small.png 
SetEnvIf Remote_Addr "^127.0.0.1" draudziam
