body {
	font: 12px/16px Arial, Helvetica, sans-serif;
}
#fileQueue {
	/*width: 400px;*/
	height: 364px;
	/*border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-right: solid 1px #FFF;*/
	border-bottom: solid 1px #BBB;
	background: #FFF;
	overflow: auto;
	padding: 5px;
	margin-bottom:5px
}
.fileTree{
	/*width: 300px;*/
	height: 400px;
	/*border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;*/
	background: #FFF;
	overflow: auto;
	padding: 5px;
	/*float: left*/
}