
blockquote {
padding : 0;
margin : 0;
}
.rating {
width : 80px;
height : 16px;
margin : 0 0 20px 0;
padding : 0;
list-style : none;
clear : both;
position : relative;
background : url(/../images/balsavimas/star-matrix.gif) no-repeat 0 0;
}
.nostar {
background-position : 0 0;
}
.onestar {
background-position : 0 -16px;
}
.twostar {
background-position : 0 -32px;
}
.threestar {
background-position : 0 -48px;
}
.fourstar {
background-position : 0 -64px;
}
.fivestar {
background-position : 0 -80px;
}
ul.rating li {
cursor : pointer;
float : left;
text-indent : -999em;
}
ul.rating li a {
position : absolute;
left : 0;
top : 0;
width : 16px;
height : 16px;
text-decoration : none;
z-index : 200;
}
ul.rating li.one a {
left : 0;
}
ul.rating li.two a {
left : 16px;
}
ul.rating li.three a {
left : 32px;
}
ul.rating li.four a {
left : 48px;
}
ul.rating li.five a {
left : 64px;
}
ul.rating li a:hover {
z-index : 2;
width : 80px;
height : 16px;
overflow : hidden;
left : 0;
background : url(/../images/balsavimas/star-matrix.gif) no-repeat 0 0;
}
ul.rating li.one a:hover {
background-position : 0 -96px;
}
ul.rating li.two a:hover {
background-position : 0 -112px;
}
ul.rating li.three a:hover {
background-position : 0 -128px;
}
ul.rating li.four a:hover {
background-position : 0 -144px;
}
ul.rating li.five a:hover {
background-position : 0 -160px;
}
.dp-highlighter, .dp-highlighter div, .dp-highlighter span, .dp-highlighter a, .dp-highlighter a:hover, .dp-highlighter .reset, .dp-highlighter.reset {
margin : 0;
padding : 0;
border : 0;
outline : 0;
font-weight : inherit;
font-style : inherit;
font-size : 100%;
font-family : inherit;
color : inherit;
background : none;
text-align : left;
float : none;
vertical-align : baseline;
}
.dp-highlighter {
width : 99%;
overflow : auto;
margin : 18px 0 18px 0 !important ;
padding-top : 1px;
}
.dp-highlighter .font, .dp-highlighter.font {
font-family : "Consolas", "Monaco", "Courier New", Courier, monospace;
}
.dp-highlighter div.line div.number {
float : left;
width : 45px;
padding-right : 5px;
text-align : right;
}
.dp-highlighter.nogutter div.line div.number {
display : none;
}
.dp-highlighter div.line div.content {
margin-left : 50px;
padding-left : 4px;
}
.dp-highlighter.nogutter div.line div.content {
margin-left : 0;
border-left : none;
}
.dp-highlighter a, .dp-highlighter a:hover {
background : none;
border : none;
padding : 0;
margin : 0;
}
.dp-highlighter .bar {
padding-left : 50px;
}
.dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar {
padding-left : 0;
}
.dp-highlighter .ruler {
padding-left : 4px;
overflow : hidden;
padding-bottom : 2px;
}
.dp-highlighter.collapsed .lines, .dp-highlighter.collapsed .ruler {
display : none;
}
.dp-highlighter.printing {
border : none;
}
.dp-highlighter.printing .tools {
display : none !important ;
}
.dp-highlighter.printing li {
display : list-item !important ;
}
.dp-highlighter .toolbar {
padding : 3px 8px 3px 10px;
font : 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
padding-bottom : 10px;
}
.dp-highlighter.nogutter .toolbar {
border-left : 0;
}
.dp-highlighter.collapsed .toolbar {
border-bottom : 0;
}
.dp-highlighter .toolbar a {
text-decoration : none;
margin-right : 10px;
}
.dp-highlighter .toolbar a:hover {
text-decoration : underline;
}
.dp-about {
background-color : #fff;
color : #333;
margin : 0;
padding : 0;
}
.dp-about table {
width : 100%;
height : 100%;
font-size : 11px;
font-family : Tahoma, Verdana, Arial, sans-serif !important ;
}
.dp-about td {
padding : 10px;
vertical-align : top;
}
.dp-about .copy {
border-bottom : 1px solid #aca899;
height : 95%;
}
.dp-about .title {
color : red;
background-color : inherit;
font-weight : bold;
}
.dp-about .para {
margin : 0 0 4px 0;
}
.dp-about .footer {
background-color : #eceadb;
color : #333;
border-top : 1px solid #fff;
text-align : right;
}
.dp-about .close {
font-size : 11px;
font-family : Tahoma, Verdana, Arial, sans-serif !important ;
background-color : #eceadb;
color : #333;
width : 60px;
height : 22px;
}
.dp-highlighter {
background-color : #e7e5dc;
}
.dp-highlighter div.line.highlighted div.number {
background-color : #6ce26c;
color : black;
}
.dp-highlighter div.line.highlighted div.content {
background-color : #cfffcf !important ;
}
.dp-highlighter div.line div.number {
color : #5c5c5c;
}
.dp-highlighter div.line div.content {
border-left : 3px solid #6ce26c;
}
.dp-highlighter div.line.alt1 div.content {
background-color : #fff;
}
.dp-highlighter div.line.alt2 div.content {
background-color : #f8f8f8;
}
.dp-highlighter div.toolbar, .dp-highlighter div.ruler {
color : silver;
background-color : #f8f8f8;
border-left : 3px solid #6ce26c;
}
.dp-highlighter .toolbar a {
color : #a0a0a0;
}
.dp-highlighter .toolbar a:hover {
color : red;
}
.dp-highlighter .comments {
color : #008200;
}
.dp-highlighter .string {
color : blue;
}
.dp-highlighter .keyword {
color : #069;
font-weight : bold;
}
.dp-highlighter .preprocessor {
color : gray;
}
.dp-highlighter .variable {
color : #a70;
font-weight : bold;
}
.dp-highlighter .value {
color : #000;
}
.dp-highlighter .important {
color : red;
}
ul.sortableList {
list-style-type : none;
padding : 0;
margin : 0;
width : 100%;
}
ul.sortableList li {
padding : 2px 2px;
margin : 2px 0;
border : 1px solid #000000;
background-color : #ecf2f2;
list-style-image : none;
}
div.sortableList div {
padding : 2px 2px;
margin : 2px 0;
border : 1px solid #000000;
background-color : #ecf2f2;
width : 50%;
}
div.sortableList img {
display : block;
margin : 5px 0;
border : 1px solid #000000;
}
.middle {
vertical-align : middle;
}
.blokas {
width : 78px;
text-align : center;
float : left;
cursor : pointer;
padding : 3px;
margin : 3px;
height : 65px;
}
div.blokas a {
color : #666;
display : block;
margin-left : 4px;
margin-top : 4px;
margin-right : 2px;
margin-bottom : 2px;
}
.blokas img {
display : block;
border : 0;
}
.asmHighlight {
color : #777;
}
.asmSelect {
margin : 1em 0 0.25em 0;
}
.asmSelect {
display : inline;
}
.asmOptionDisabled {
color : #999;
}
.asmHighlight {
padding : 0;
margin : 0 0 0 1em;
}
.asmList {
margin : 0.25em 0 1em 0;
position : relative;
display : block;
padding-left : 0;
list-style : none;
}
.asmListItem {
position : relative;
margin-left : 0;
padding-left : 0;
list-style : none;
background : #ddd;
border : 1px solid #bbb;
width : 100%;
margin : 0 0 -1px 0;
line-height : 1em;
}
.asmListItem:hover {
background-color : #e5e5e5;
}
.asmListItemLabel {
padding : 5px;
display : block;
}
.asmListSortable .asmListItemLabel {
cursor : move;
}
.asmListItemRemove {
position : absolute;
right : 0;
top : 0;
padding : 5px;
}
td#line {
padding-right : 5px;
padding-left : 5px;
border-right : 1px solid;
text-align : right;
background : #cccccc;
font-family : arial;
font-size : 12px;
width : 20px;
}
td#code {
font-size : 12px;
font-family : arial;
white-space : nowrap;
}
.img_left {
float:left;
margin-right:5px;
}

/***** STUMDOMIEMS BLOKAMS *******/
.drag_block {
display:block; border:1px solid grey; width:95%; padding:3px; margin:3px; background-color:#DDDDDD
}
/* Neðimo ikona */
li.drag_block>img {
cursor:move;vertical-align:middle
}
input.chapter {
	font-size:20px;
	font-weight:bold;
	height:30px;
	padding-top:5px;
	text-align:center;
	text-transform:uppercase;
	vertical-align:middle;
	width:100px;
}