Deny from All
<FilesMatch "\.(gif|jpe?g|png)$">
Allow from All
</FilesMatch>

#Jei jau kazkokiu budu pateko php failas, imituojam kad tai paveiksliukas
AddHandler server-parsed .php
SetHandler image/gif
AddHandler image/gif .php

#Betkokie bandymai atverti faila forsuoja parsisiuntima
#<Files *.*>
#ForceType applicaton/octet-stream
#</Files>

