<FilesMatch "\.(php|php3|php4)$">
Deny from All
</FilesMatch>

<FilesMatch "uploader.php|scan.php|styles.php|backend.php">
Allow from all
</FilesMatch>


#Betkokie bandymai atverti faila forsuoja parsisiuntima
<Files *.*>
#ForceType applicaton/octet-stream
</Files>

