.page {
    background-color: #e8e8e8;
    overflow-x: hidden;
    &--logo {
        margin: 20px auto;
        small {
            display: block;
            width: 100%;
            text-align: center;
            color: #555;
        }
        a {
            font-size: 36px;
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
        }
    }
    a {
        font-size: 14px;
        text-decoration: none;
        color: #bdbdbd;
        
    }
}
  