body {
    background: #E6E6E6;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, /*fieldset,*/
input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font: 12px Arial, helvetica, clean, sans-serif;
    line-height: 15px;
}

table {
    /*width: auto;*/
    /*float: left;*/
}

/*fieldset,*/
img {
    border: 0;
}

fieldset {
    margin: 15px;
    border: 1px dotted #BDBCBD;
}

hr {

}

td {
    text-align: left;
}

.nav ol, .nav ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

.input, select {
    outline: none;
    background: url('../images/input.png') repeat-x;
    border: 1px solid #D7D7D7;
    padding: 3px;
    color: #666666;
    margin-bottom: 3px;
    width: 600px;
}

.filtrui {
    width: 100%;
}
textarea {
    min-height: 200px;
    width: 600px;
    background: url('../images/input.png') repeat-x;
    border: 1px solid #D7D7D7;
    padding: 3px;
    color: #666666;
    margin-bottom: 3px;
}

input[type="submit"], .submit, button {
    width: auto;
    background: #E6E6E6;
	border: 1px solid #ccc; border-right-color: #666; border-bottom-color: #666;
	color: #555555;
	padding: 4px 6px;
}

a {
    color: #FF7910;
}

/* RESET END */
/* Puslapiavimui */
.puslapiavimas {
    text-align: center;
}

.puslapiavimas a {
    color: #999;
    text-decoration: none;
}

.puslapiavimas a:hover {
    color: #999;
    text-decoration: none;
}

.puslapiavimas .nuoroda {
    vertical-align: middle;
    border: 1px solid #999;
    background: #FFFFFF url(../images/hover.png) repeat-x;
	padding: 2px 7px;
}

.puslapiavimas .nuoroda:hover {
    background: #d9d9d9;
    border: 1px solid #999;
}

.puslapiavimas .paspaustas {
    border: 1px solid #999;
    color: #999;
    vertical-align: middle;
    font-weight: bold;
    background: #d9d9d9;
	padding: 2px 7px;
}

/* Galerijai */
#gallery {
    position: relative;
}

.img_left {
    border: 1px solid #999;
    background: #d9d9d9;
    float: left;
    margin-right: 5px;
    position: relative;
}

.gallery_title, .gallery_menu {
    background: #fff;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    width: 100%;
}

.gallery_title {
    top: 0;
}

.gallery_menu {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    bottom: 5px;
}

.gallery_menu img {
    vertical-align: middle;
}

#krauna {
    background: #fff url(../images/loading.gif) no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

/*message*/
.msg {
	border: 1px solid #FFCC99;
    color: #FF770A;
    display: block;
    padding: 3px;
    margin-right: 20px;
    margin-left: 10px;
	background: #FFFFCC url('../images/icons/check.png') no-repeat 98% 48%;
	/*overflow: hidden;*/
    z-index: 999;

}

.msg img {
    vertical-align: middle;
    margin: 2px;
}

/* Left side */
#left {
    float: left;
    width: 178px;
    z-index: 2;
    margin-top: 10px;
    padding-top: 130px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.sonas {
    margin-left: 5px;
    float: left;
    width: 10px;
    height: 20px;
}

.pirmas {
    margin: 2px;
    float: left;
    height: 10px;
    width: 10px;
    background: #E6E6E6;
    border: 1px solid #F06B09;
}

.antras {
    margin: 2px;
    float: left;
    height: 10px;
    width: 10px;
    background: #2c2c2c;
    border: 1px solid #F06B09;
}

#virslogo {
    background: #E6E6E6;
    width: 176px;
    height: 10px;
}

#admin_logo {
    background: #E6E6E6 url(../images/mm_logo.png) no-repeat;
    width: 142px;
    height: 80px;
    border-right: 1px solid #F06B09;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 35px;
}

/* search box */
.search {
    border-top: 1px solid #F06B09;
    border-bottom: 1px solid #F06B09;
    background: #FFFFFF url(../images/hover.png) repeat-x;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 178px;
}

.search input {
    outline: none;
    float: left;
    background: url('../images/search.png') no-repeat;
    width: 124px;
    padding: 4px;
    border: 0;
	margin: 3px 3px 3px 10px;
	height: 25px;
}

#left .nav ul li img {
    margin-right: 5px;
}

/* Left navigation */
#left .nav ul li a {
    border-right: 1px solid #F06B09;
    border-bottom: 1px solid #fff;
    color: #666;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial,serif;
    text-decoration: none;
    padding: 8px 1px 8px 19px;
    min-width: 141px;
    display: block;
}

#left .nav ul li a:hover {
    color: #F06B09;
    margin-top: -1px;
    border-top: 1px solid #F06B09;
    border-right: 1px solid #F06B09;
    border-bottom: 1px solid #F06B09;
    padding: 8px 3px 8px 19px;
    background: #FFFFFF url(../images/hover.png) repeat-x;
}

#left .nav ul li.active {
    background: #FFFFFF;
    border-top: 1px solid #F06B09;
    border-bottom: 1px solid #F06B09;
    padding: 5px;
}

#left .nav ul li ul {
	margin: 5px;
}

#left .nav ul li ul li {
    margin: 3px;
}

#left .nav ul li.active {
    background: #FFFFFF url(../images/hover.png) repeat-x;
    margin-top: -1px;
    padding-left: 20px;
}

#left .nav ul li.active a {
    border: 0;
    color: #F06B09;
    padding: 0px;
}

#left ul li.active ul a {
    border: 0;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}

#left .nav ul li.active a:hover {
    margin-top: 0px;
    color: #666;
    border: 0;
    background: none;
}

#left .nav li img {
    vertical-align: middle;
    margin-right: 3px;
}

/*Right side */
#right {
    min-width: 720px;
    border: 1px solid #F06B09;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 177px;
    padding-right: 30px;
    background: #FFFFFF url(../images/hover.png) repeat-x;
}

#controls {
    margin-top: -1px;
}

#admin_lang, #admin_user, .admin_user {
    border-bottom: 1px solid #F06B09;
    border-left: 1px solid #F06B09;
    border-right: 1px solid #F06B09;
    float: right;
    cursor: pointer;
    height: 20px;
	padding: 8px 10px 3px;
    font-size: 12px;
    margin: 0 10px 0;
}
div#controls div.admin_user a {
	text-decoration: none;
}
div#controls div.admin_user a img {
	vertical-align: middle;
}

#admin_lang {
    padding-right: 20px;
    width: 50px;
}

#admin_lang img, #admin_user img {
    border: 1px solid white;
    vertical-align: middle;
    margin-right: 5px;
}

#admin_lang.down, #admin_user.down, .admin_user.down {
    background: #E6E6E6;
}

#admin_lang.up, #admin_user.up {
    background: #E6E6E6;
}

#admin_lang ul {
    margin: -7px;
    padding: 0px;
}

#admin_lang ul li {
    background: none;
    border: none;
}

#admin_lang ul li ul {
    background: #E6E6E6;
    margin-left: -4px;
    width: 80px;
    border-left: 1px solid #F06B09;
    border-right: 1px solid #F06B09;
    border-bottom: 1px solid #F06B09;
}

#admin_user img {
    border: none;
}

#admin_user {
    right: 20px;
}

#right .where {
    margin-top: 5px;
    color: #999999;
    padding: 5px;
}

#right .where img {
    vertical-align: middle;
}

#right .where a {
    color: #999999;
    text-decoration: none;
}

#container {
    padding-left: 10px;
    width: 100%;
    margin-left: 5px;
}

#container h2, #container h1 {
    color: #666666;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    display: block
}

#container h1 {
    /*margin-bottom: 10px;*/
    margin-top: 10px;
    display: block
}

#container h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block
}

#container form {
    /*float: left;*/
}

.left {
    width: 40%;
    border-right: 2px dashed #CCC;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.right {
    width: 45%;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.leftui {
    margin-left: 20px;
    width: 200px;
    height: 180px;
    border-bottom: 2px dashed #CCC;
    float: left;
}

.right li {
    list-style: none outside none;
}

#footer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-family: "Arial";
}

#footer .c {
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: #999;
    float: left;
    text-align: right;
    padding-top: 35px;
    padding-right: 10px;
}

#footer .links {
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #999;
    font-size: 12px;
}

#footer .links a {
    color: #5F676C;
    font-weight: bold;
    text-decoration: none;
}

#footer .copy {
    background: #E6E6E6;
    margin-bottom: -1px;
    float: left;
    border-bottom: 0;
    border-top: 1px solid #F06B09;
    border-left: 1px solid #F06B09;
    border-right: 1px solid #F06B09;
    height: 80px;
    padding: 3px 10px 3px 10px;
    font-size: 10px;
}

#footer .images {
    background: #E6E6E6;
    border-top: 1px solid #F06B09;
    border-left: 1px solid #F06B09;
    border-right: 1px solid #F06B09;
    height: 80px;
    padding: 3px 10px 3px 10px;
    float: left;
    margin-bottom: -1px;
    margin-left: 20px;
}

#footer .images img {
    width: 80px;
    vertical-align: middle;
}

.middle {
    vertical-align: middle;
}

ul#tree, ul#tree ul {
    list-style: none;
    list-style-type: none;
}

ul#tree li {
    background: #fff;
    border-bottom: solid #c3c3c3 1px;
    padding: 5px;
}

.asmHighlight {
    color: #777;
}

.asmSelect {
    margin: 1em 0 0.25em 0;
}

.asmSelect {
    display: block;
}

.asmOptionDisabled {
    color: #ccc;
    font-size: 8px;
}

.asmHighlight {
    padding: 0;
    margin: 0 0 0 1em;
}

.asmList {
    margin: 0.25em 0 1em 0;
    position: relative;
    display: block;
    padding-left: 0;
    list-style: none;
}

.asmListItem {
    position: relative;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    background: #ddd;
    border: 1px solid #bbb;
    width: 200px;
    margin: 0 0 -1px 0;
    line-height: 1em;
}

.asmListItem:hover {
    background-color: #e5e5e5;
}

.asmListItemLabel {
    padding: 5px;
    display: block;
}

.asmListSortable .asmListItemLabel {
    cursor: move;
}

.asmListItemRemove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

.drag_block {
    display: block;
    width: 95%;
    padding: 3px;
    margin: 3px;
    background-color: #dddddd;
}

li.drag_block:hover {
    background-color: #F2F2F2;
    border: 1px solid #666;
    padding: 2px;

}

li.drag_block > img {
    cursor: move;
    vertical-align: middle;
}

form td {
    vertical-align: middle;
    padding-right: 10px;
}

.tooltip {
    max-width: 300px;
    padding: 3px;
    border: 1px solid #FF7910;
    display: none;
    background: #FFFFCC;
    color: #FF7910;
    font: 11px Arial, Helvetica, sans-serif;
    text-align: left;
    position: absolute;
    z-index: 1000;
}

#placeholder {
    width: 225px;
    height: 125px;
    padding-bottom: 0px;
}

.table {
    width: 400px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 3px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.table td, .table th, .tr, .tr2 {
    text-align: left;
    padding: .2em .4em;
    border-top: 1px solid #d9d9d9;
    /* border-right: 1px solid #d9d9d9;*/
}

.table td, .td {
    border-right: 1px solid #d9d9d9;
}

.td2 {
    background: #FAFAFA;
}

.table th {
    background-color: #ebebeb;
    font-weight: bold;
    padding: 3px;
    border-bottom: 2px solid #d9d9d9;
    color: #333;
}

.table tr.odd, .tr {
    background: #ebebeb;
}

.form_table tr td {
    border-bottom: 1px dotted #d9d9d9;
    padding: 3px;
}

blockquote {
    background: transparent url('../images/blockquote.png') no-repeat left top;
    margin: 10px 65px 10px 10px;
    padding: 20px 20px 10px 10px;
    font-style: italic;
    color: #939494;
}

.error, .notice, .success {
    border: 1px solid #DDD;
    margin-bottom: 1em;
    padding: 0.6em 0.8em;
}

.error {
    background: #FBE3E4;
    color: #8A1F11;
    border-color: #FBC2C4;
}

.error a {
    color: #8A1F11;
}

.notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

.notice a {
    color: #514721;
}

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

.success a {
    color: #264409;
}

.btns {
    visibility: hidden;
}
