* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #6b655c;
    font: 12px Arial, Verdana, Tahoma, sans-serif;
    line-height: 17px;
    background: url(../images/prisijungimo/fonas.png) repeat-x top;
    background-color: #E6E6E6;
}

.clear {
    clear: both;
}

a, a:visited {
    color: #7f786e;
    text-decoration: none;
}

a:hover {
    color: #f69d4e;
    text-decoration: underline;
}

#plotis {
    width: 902px;
    margin: 0 auto;
}

.logo {
    background: url(../images/prisijungimo/mm_logo.png) no-repeat;
    height: 82px;
    width: 106px;
    margin: 0 auto;
}

.skalpas {
    padding-top: 15px;
    /* border-right: 2px solid #f69d4e;*/
    height: 94px;
}

.sonas {
    float: right;
    background: #f69d4e;
    height: 38px;
    width: 2px;
}

.sonas2 {
    float: left;
    background: #f69d4e;
    height: 38px;
    width: 2px;
}

/* Meniu juosta*/
#meniu_juosta {
    border-left: 2px solid #f69d4e;
    border-right: 2px solid #f69d4e;
    width: 488px;
    background: #e6e6e6 url(../images/prisijungimo/meniu.png) repeat-x;
    float: left;
    color: #fff;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    text-shadow: #6b655c 1px 0px 0px;
    padding-left: 5px;
    padding-top: 5px;
}

#kunas {
    margin-top: 33px;
    background: #E6E6E6;
    float: left;
    width: 497px;
}

#kaire {
    float: left;
    width: 200px;
    margin-bottom: 0px;
}

#centras {
    float: left;
    width: 473px;
    margin-bottom: 0px;
    margin-left: 12px;
    line-height: 17px;
}

#centras .vidus {
    text-shadow: #f8f8f8 1px 0px 0px;
    border: 1px solid #f8f8f8;
    background: #f8f8f8 url(../images/prisijungimo/bloko_fonas.png) repeat-x;
}

#centras .pavadinimas {
    text-shadow: #6b655c 1px 0px 0px;
    background: url(../images/prisijungimo/centrinis_blokas.png) no-repeat;
    width: auto;
    height: 21px;
    color: #fff;
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.text {
    padding: 3px;
}

#kojos {
    margin-top: 10px;
    border-top: 2px solid #7f786e;
    border-right: 2px solid #7f786e;
    border-left: 2px solid #7f786e;
    clear: both;
    height: 80px;
    background: url(../images/prisijungimo/kojos.png) repeat-x;
}

#kojos .tekstas {
    color: #7f786e;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    float: left;
    height: 45px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

#kojos .logo {
    float: right;
    height: 45px;
    width: 60px;
    background: url(../images/prisijungimo/mm_kojos_logo.png) no-repeat;
    margin-top: 10px;
    margin-right: 20px;
}

#another {
    background: url(../images/prisijungimo/fonas2.png) repeat-x bottom;
    width: 100%;
    height: 30px;
}

#another .lygiuojam {
    margin: 0 auto;
    width: 673px;
}

#another .taisom {
    width: 469px;
    background: #E6E6E6;
    margin-left: 101px;
    height: 2px;
}

/* Mightmedia pagrindin�s stiliaus funkcijos */
img {
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr, fieldset {
    margin: 2px;
    border: 1px dotted #CCC;
}

input, textarea, button, select {
    outline: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #6b655c;
    background: #f8f8f8;
    border: 1px solid #6b655c;
    padding-left: 5px;
}

input, button, select {
    height: 20px
}

input[type="submit"], .submit, .perveiza {
    cursor: pointer;
    padding: 2px;
    background: #e6e6e6 url(../images/prisijungimo/hover.png) repeat-x;
    border: 1px solid #6b655c;
    color: #6b655c;
}

button {
    cursor: pointer;
    padding: 2px;
}

/* BB Kodo [code] forume laukas */

textarea.input {
    width: 95%;
    background: #f8f8f8;
}

input.input {
    width: 95%;
}

/* Linija, po naujiena, straipsniu, siuntiniu ir t.t */
.line {
    border-top: 1px dashed #d6d6d6;
    margin: 5px
}

/* Title lentel� i�okanti pel� u�vedus ant nuorodos su pavadinimu (title="") */
.tooltip {
    padding: 3px;
    border: 1px solid #fff;
    display: none;
    background: #d6d6d6;
    color: #fff;
    font: 11px Arial, Helvetica, sans-serif;
    text-align: left;
    position: absolute;
    z-index: 1000;
}

/* Informaciniai prane�imai */
.klaida {
    margin-bottom: 5px;
    height: auto;
    width: 100%;
    background: #f7e66c;
    border: 1px solid #c8bb45;
    color: #afa233;
}

.info_tekstas {
    color: #3d403d;
    padding-left: 40px;
    padding-bottom: 3px;
}

.info_pavadinimas {
    padding-top: 3px;
    padding-left: 40px;
}

.msg {
    margin-bottom: 5px;
    height: auto;
    width: 100%;
    background: #c3ea86;
    border: 1px solid #a2cd5e;
    color: #769b3d;
}

.klaida .info_ikona {
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    height: 32px;
    width: 32px;
    background: url(../images/prisijungimo/warrning.png) no-repeat;
}

.msg .info_ikona {
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    height: 32px;
    width: 32px;
    background: url(../images/prisijungimo/tick.png) no-repeat;
}

/* Mightmedia pagrindin�s stiliaus funkcijos */