body{
	background-image: url(img/bg.jpg);
	background-color: #FFF;
	background-repeat: repeat-x;
	font-family: "Microsoft Sans Serif";
	font-size: 12px;
	color: #666;
	text-align: justify;
}
.block ul{
	padding: 0;
	margin: 0;
	list-style:none;
}
#main{
	margin: auto;
	margin-top: 35px;
	width: 836px;
}
#left{
	float: left;
	height: 80px;
}
#content{
	/*background-color: #FFF;*/
	background-image: url(img/mainbg.png);
	width: 836px;
	float:left;
}
.block {
	width: 184px;
}
.block .title{
	background-image: url(img/block1.jpg);
	background-repeat: no-repeat;
	text-align:center;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	padding-top: 10px;
}
.block .content{
	background-image: url(img/block2.jpg);
	background-repeat: repeat-y;
	padding-left: 10px;
	padding-right: 10px;
}
.block .foot{
	background-image: url(img/block3.jpg);
	background-repeat: no-repeat;
	height: 19px;
	margin-bottom: 10px;
}
#cont h1{
	background-image: url(img/content1.jpg);
	background-repeat: no-repeat;
	font-size: 24px;
	padding-left:20px;
	margin: 0;
	text-align: left;
}
#cont h2{
	background-image: url(img/content1.jpg);
	background-repeat: no-repeat;
	font-size: 19px;
	padding-left:20px;
	margin: 0;
	text-align: left;
}

.logo{
	background-image: url(img/logo.jpg);
	width: 118px;
	height: 66px;
	margin-top:25px;
	margin-left: 50px;
}
.bar{
	margin-top:67px;
	background-image: url(img/bar_bg.jpg);
	width: 423px;
	height: 49px;
	float:left;
}
.bar .start{
	background-image: url(img/bar_start.jpg);
	background-repeat: no-repeat;
	width: 27px;
	height: 49px;
	float: left;
}
.bar .nav{
	float: left;
	padding-top: 18px;
}
.nav ul{ 
	list-style: none;
	margin:0;
	padding:0;
	margin-top: -5px;
}
.nav ul li{
	display: inline;
	margin:0;
}
.nav ul ul{
	margin-top: -2px;
}
.nav ul li ul li{
	background: #FE9900;
	border-bottom: 1px solid #666;
}
.nav li a, .nav li a:hover, .nav a:active{
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	padding-right:3px;
	margin: 0;
}
.nav li a:hover{
	background-color:  #666;
	color: #FFF;
}

#navigation ul li a:hover {
	background-color:  #666;
	color: #FFF;
}
#navigation ul li a {
	padding: 3px;
	display: block;
}
#navigation ul ul{
	background: #FFF;
	border: 1px solid #666;
}
.login{
	background-image: url(img/top_bg.png);
	/*width:230px;*/
	width: 200px;
	float:left;
	/*height:116px;*/
	height: 100px;
	padding-top:16px;
	padding-left:30px;
	color: #fff;
}
.fields{
	float: left;
	width: 150px;
	height: 70px;
}
.fields input{
	margin-top: 5px;
	width: 145px;
}
.fields a{
	font-size: 9px;
}
.login input.button{
	border: 0;
	padding: 0;
	float: left;
}
.login a, .login a:hover{
	color: #FFF;
	font-size: 13px;
	white-space:nowrap;
}
.login ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.left1{
	background-image: url(img/left_1.jpg);
	background-repeat: no-repeat;
	width: 183px;
	height: 25px;
	display: block;
}
.left_blocks{
	float: left;
	padding-left: 20px;
	width: 184px;
}
.right_content{
	float:left;
	padding-left: 20px;
	width: 390px;
	padding-right: 17px;
}
.right_blocks{
	float:left;
	width: 184px;
}
.footer1{
	clear:both;
	background-image: url(img/footer1.png);
	width: 836px;
	height: 26px;
}
.footer2{
	background-image: url(img/footer2.png);
	width: 223px;
	height: 30px;
	text-align:center;
	float: left;
}
.copyright{
	float: left;
}
input, textarea, select, button{
	background-image: url(img/input_bg.jpg);
	background-repeat: repeat-x;
	background-color: #F4F4F4;
	border: 1px solid #666;
	padding: 2px;
}
.input{
	width: 95%;
}
a{
	color: #FF9900;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.table {
	border-bottom : 1px solid #000;
	border-right : 1px solid #000;
	font-size: 11px;
	text-align: left;
}
.th {
	text-align : center;
	color : #FFF;
	background-color : #666;
	height : 20px;
	font-weight : normal;
	padding: 3px;
}
.th a {
	color : #FFFFFF;
}
.tr {
	background-color: #FAFAFA;
	border-top: 1px solid #666;
	padding: 3px;
	overflow:hidden;
}
.tr2{
  background-color: #D7D6D6;
  border-top: 1px solid #666;
  padding: 3px;
	overflow:hidden;
}
.td {
	padding-left : 5px;
	border-left : 1px solid #CCC;
}
.td2 {
	padding-left : 5px;
	border-left : 1px solid #CCC;
}
.table a{
  color: #666;
}
.tooltip {
	padding : 3px;
	border : 1px solid #666;
	display : none;
	background : #666;
	color : #fff;
	font : bold 9px Verdana, Arial, Helvetica, sans-serif;
	text-align : left;
	position : absolute;
	z-index : 1000;
}
img {
	border: none;
}
.gallery a img {
	padding:2px;
	margin:0 5px 5px 0;
	-moz-border-radius:4px 4px 4px 4px;
}
.gallery_menu {
	bottom:5px;
}
.gallery_title, .gallery_menu {
	background-color:inherit;
}
.active {
	background-color:  #666;
	color: #FFF;
}
#navigation ul li.active a {
	color: #fff;
}
#navigation ul li.active ul a{
  color: #666;
  
}
#navigation ul li.active ul a:hover{
  color: #FFF;
  
}