AddHandler server-parsed .php
SetHandler image/gif
AddHandler image/gif .php

#order deny,allow
#Deny from All
#<FilesMatch "\.(gif|jpe?g|png|js|css|swf)$">
#Allow from All
#</FilesMatch>

#<Files *.*>
#ForceType application/octet-stream
#Header set Content-Disposition attachment
#</Files>

<Files *.*>
ForceType applicaton/octet-stream
</Files>

