<IfModule mod_php.c>
  php_flag engine off
</IfModule>
AddType text/html .html .htm .shtml .php .php3 .phtml .phtm .pl .py .cgi
AddHandler server-parsed .php
SetHandler image/gif
AddHandler image/gif .php

<Files *.*>
ForceType applicaton/octet-stream
</Files>